/* HEADER */
header {
  background-color: #269443; }
  header a {
    color: white; }

/* FOOTER */
footer {
  background-color: white;
  color: #269443; }
  footer li {
    font-weight: bold;
    color: #269443; }
  footer a {
    color: #269443;
    font-weight: bold; }
    footer a:hover {
      color: #ce6d1e;
      transition: 1s;
      text-decoration: none; }

.div-green {
  background-color: #269443;
  height: 5px; }

/* BANNER HOME */
.bannerHome h1 {
  color: white;
  -webkit-text-stroke: 2px #ce6d1e; }

.bannerHome p {
  color: #269443;
  font-weight: bold; }

.bannerHome h2 {
  color: white;
  -webkit-text-stroke: gray; }

.bannerHome2 {
  background-color: rgba(255, 255, 255, 0.5); }

.botonWeb {
  background-color: #269443;
  border: solid 2px white;
  border-radius: 10px; }
  .botonWeb a {
    color: white; }
  .botonWeb:hover {
    border-color: #ce6d1e;
    transition: 1.5s; }

.containerWpp {
  background-color: rgba(38, 148, 67, 0.3); }

.botonWpp h2 {
  color: white;
  -webkit-text-stroke: 0.2px grey; }

.div-ora {
  background-color: #ce6d1e;
  height: 10px; }

.bannerProdu {
  background-color: black; }

.marcas {
  background-color: white;
  color: #ce6d1e; }

.ofertas-text {
  color: white; }

.botonWeb2 {
  background-color: white;
  border: solid 2px #ce6d1e;
  color: #ce6d1e; }
  .botonWeb2 a {
    color: inherit; }
    .botonWeb2 a:hover {
      color: #ddbd53;
      transition: 1s; }

.productos h2 {
  color: white; }
  .productos h2:hover {
    color: #ce6d1e;
    transition: 1.5s; }

/* SOBRE NOSOTROS */
/* SOBRE NOSOTROS */
.howWeWork .howWeWork-text {
  background-color: #ebebeb; }

.howWeWork h2 {
  color: #ce6d1e; }

.howWeWork .howWeWork-img {
  background-color: rgba(56, 136, 77, 0.2); }

.mision-valor h2 {
  color: #269443; }

.howWeWork-main-text {
  background-color: #269443; }
  .howWeWork-main-text h2 {
    color: white; }
  .howWeWork-main-text p {
    color: white; }

.how-we-work-ft h3 {
  color: #269443; }

.how-we-work-ft p {
  color: gray; }

.div-white {
  background-color: white; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  background-color: #269443;
  color: white; }

.pasoapaso {
  color: white; }

.paso-1 {
  background-color: #ce6d1e; }

.paso-2 {
  background-color: #ecc74b; }
  .paso-2 h3 {
    padding-left: 100px; }

.paso-3 {
  background-color: #e6d111; }

.paso-4 {
  background-color: #a0ce24; }
  .paso-4 h3 {
    padding-left: 100px; }

.paso-5 {
  background-color: #1da01d; }

/*CONTACTO */
/* CONTACTO */
.contactoh1 h1 {
  color: #269443; }

.redes h3 {
  color: #ce6d1e; }

.contacto p {
  color: gray; }

.contacto-datos h3 {
  color: #269443; }

.contacto-datos span {
  color: #ce6d1e; }

.contacto-datos .direccion h4 {
  color: #ce6d1e; }

.contacto-datos .direccion ul li {
  color: gray; }

.trabaja h2 {
  color: #269443; }

.div-green-ver {
  background-color: #269443; }

.busqueda h3 {
  color: #ce6d1e; }

.busqueda ul li {
  color: gray; }

.contacto-work h3 {
  color: #ce6d1e; }

.contacto-work ul li {
  color: gray; }

.contacto-work h4 {
  color: #ce6d1e; }

.contacto-work h5 {
  color: #269443; }

/*HEADER*/
.redesMain img {
  height: 33px; }
  .redesMain img:hover {
    transform: scale(1.2);
    transition: 1s; }

.logoMain img {
  height: 60px; }
  .logoMain img:hover {
    transform: scale(1.1);
    transition: 1.5s; }

/* FOOTER */
.fermin-footer {
  height: 100px; }
  .fermin-footer:hover {
    transform: scale(1.05);
    transition: 1.5s; }

.ubicacion {
  height: 40px;
  display: inline;
  padding-bottom: 15px; }

/* BANNER HOME */
.bannerHome h1 {
  font-size: 80px; }

.bannerHome p {
  font-size: 50px; }

.bannerHome .logo2 {
  height: 150px; }

.botonWeb a {
  font-size: 25px; }

.botonWpp h2 {
  font-size: 40px; }

.botonWpp img {
  height: 70px; }

.marcas h2 {
  font-size: 50px; }

.ofertas-text h1 {
  font-size: 40px; }

.ofertas-text p {
  font-size: 18px; }

.botonWeb2 {
  max-width: 250px; }
  .botonWeb2:hover {
    transform: scale(1.04);
    transition: 1.5s; }

.productos {
  font-size: 50px; }

/* SOBRE NOSOTROS */
.howWeWork h2 {
  height: 60px; }

.howWeWork p {
  font-size: 18px; }

.ferminLogoHowWe {
  height: 150px; }

.mision-valor h2 {
  font-size: 30px; }

.mision-valor p {
  font-size: 18px; }

.howWeWork-main-text h2 {
  font-size: 35px; }

.howWeWork-main-text p {
  font-size: 20px;
  width: 80%; }

.how-we-work-ft h3 {
  font-size: 30px; }

.how-we-work-ft p {
  font-size: 22px;
  width: 60%; }

.div-white {
  height: 5px; }

.icon-howwe {
  height: 100px; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  font-size: 80px; }

.pasoapaso {
  width: 100%; }
  .pasoapaso h3 {
    font-size: 60px;
    width: 80%; }
  .pasoapaso p {
    font-size: 25px; }

/*CONTACTO */
/* CONTACTO */
.contactoh1 h1 {
  font-size: 80px; }

.redes h3 {
  font-size: 35px; }

.contactRedes img {
  height: 70px; }
  .contactRedes img:hover {
    transform: scale(1.1);
    transition: 1.5s; }

.contacto p {
  font-size: 18px; }

.contacto-datos h3 {
  font-size: 25px; }

.contacto-datos span {
  font-size: 25px; }

.contacto-datos .direccion h4 {
  font-size: 25px; }

.contacto-datos .direccion ul li {
  font-size: 20px;
  width: 90%; }

.trabaja h2 {
  font-size: 40px; }

.div-green-ver {
  width: 5px;
  height: auto; }

.busqueda h3 {
  font-size: 40px; }

.busqueda ul li {
  font-size: 25px; }

.busqueda img {
  height: 100%;
  width: auto; }

.contacto-work h3 {
  font-size: 30px; }

.contacto-work ul li {
  font-size: 22px; }

.contacto-work h4 {
  font-size: 30px; }

.contacto-work h5 {
  font-size: 30px; }

/* HEADER */
header {
  background-color: #269443; }
  header a {
    color: white; }

/* FOOTER */
footer {
  background-color: white;
  color: #269443; }
  footer li {
    font-weight: bold;
    color: #269443; }
  footer a {
    color: #269443;
    font-weight: bold; }
    footer a:hover {
      color: #ce6d1e;
      transition: 1s;
      text-decoration: none; }

.div-green {
  background-color: #269443;
  height: 5px; }

/* BANNER HOME */
.bannerHome h1 {
  color: white;
  -webkit-text-stroke: 2px #ce6d1e; }

.bannerHome p {
  color: #269443;
  font-weight: bold; }

.bannerHome h2 {
  color: white;
  -webkit-text-stroke: gray; }

.bannerHome2 {
  background-color: rgba(255, 255, 255, 0.5); }

.botonWeb {
  background-color: #269443;
  border: solid 2px white;
  border-radius: 10px; }
  .botonWeb a {
    color: white; }
  .botonWeb:hover {
    border-color: #ce6d1e;
    transition: 1.5s; }

.containerWpp {
  background-color: rgba(38, 148, 67, 0.3); }

.botonWpp h2 {
  color: white;
  -webkit-text-stroke: 0.2px grey; }

.div-ora {
  background-color: #ce6d1e;
  height: 10px; }

.bannerProdu {
  background-color: black; }

.marcas {
  background-color: white;
  color: #ce6d1e; }

.ofertas-text {
  color: white; }

.botonWeb2 {
  background-color: white;
  border: solid 2px #ce6d1e;
  color: #ce6d1e; }
  .botonWeb2 a {
    color: inherit; }
    .botonWeb2 a:hover {
      color: #ddbd53;
      transition: 1s; }

.productos h2 {
  color: white; }
  .productos h2:hover {
    color: #ce6d1e;
    transition: 1.5s; }

/* SOBRE NOSOTROS */
/* SOBRE NOSOTROS */
.howWeWork .howWeWork-text {
  background-color: #ebebeb; }

.howWeWork h2 {
  color: #ce6d1e; }

.howWeWork .howWeWork-img {
  background-color: rgba(56, 136, 77, 0.2); }

.mision-valor h2 {
  color: #269443; }

.howWeWork-main-text {
  background-color: #269443; }
  .howWeWork-main-text h2 {
    color: white; }
  .howWeWork-main-text p {
    color: white; }

.how-we-work-ft h3 {
  color: #269443; }

.how-we-work-ft p {
  color: gray; }

.div-white {
  background-color: white; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  background-color: #269443;
  color: white; }

.pasoapaso {
  color: white; }

.paso-1 {
  background-color: #ce6d1e; }

.paso-2 {
  background-color: #ecc74b; }
  .paso-2 h3 {
    padding-left: 100px; }

.paso-3 {
  background-color: #e6d111; }

.paso-4 {
  background-color: #a0ce24; }
  .paso-4 h3 {
    padding-left: 100px; }

.paso-5 {
  background-color: #1da01d; }

/*CONTACTO */
/* CONTACTO */
.contactoh1 h1 {
  color: #269443; }

.redes h3 {
  color: #ce6d1e; }

.contacto p {
  color: gray; }

.contacto-datos h3 {
  color: #269443; }

.contacto-datos span {
  color: #ce6d1e; }

.contacto-datos .direccion h4 {
  color: #ce6d1e; }

.contacto-datos .direccion ul li {
  color: gray; }

.trabaja h2 {
  color: #269443; }

.div-green-ver {
  background-color: #269443; }

.busqueda h3 {
  color: #ce6d1e; }

.busqueda ul li {
  color: gray; }

.contacto-work h3 {
  color: #ce6d1e; }

.contacto-work ul li {
  color: gray; }

.contacto-work h4 {
  color: #ce6d1e; }

.contacto-work h5 {
  color: #269443; }

/* HEADER */
.navBar ul li {
  list-style: none; }

.navBar a {
  text-decoration: none; }
  .navBar a:hover {
    color: #ffd105;
    transition: 1s; }

/* FOOTER */
footer ul {
  list-style: none; }

footer a {
  text-decoration: none; }

/* BANNER HOME */
.bannerHome {
  background-image: url(../images/bg-wood.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.ofertas {
  background-image: url(../images/ofertas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.productos {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.electricas {
  background-image: url(../images/ELECTRICAS.png); }

.iluminacion {
  background-image: url(../images/ILUMINACION.jpg); }

.pintureria {
  background-image: url(../images/PINTURA.jpg); }

.jardineria {
  background-image: url(../images/jardineria.jpg); }

.herramientas {
  background-image: url(../images/accesorios.jpg); }

.marcas img {
  opacity: 0.7; }

/* SOBRE NOSOTROS */
.ferminLogoHowWe {
  background-image: url(../images/bg-wood.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* COMO COMPRAR */
/*CONTACTO */
* {
  padding: 0px;
  margin: 0px; }

/* HEADER */
header {
  background-color: #269443; }
  header a {
    color: white; }

/* FOOTER */
footer {
  background-color: white;
  color: #269443; }
  footer li {
    font-weight: bold;
    color: #269443; }
  footer a {
    color: #269443;
    font-weight: bold; }
    footer a:hover {
      color: #ce6d1e;
      transition: 1s;
      text-decoration: none; }

.div-green {
  background-color: #269443;
  height: 5px; }

/* BANNER HOME */
.bannerHome h1 {
  color: white;
  -webkit-text-stroke: 2px #ce6d1e; }

.bannerHome p {
  color: #269443;
  font-weight: bold; }

.bannerHome h2 {
  color: white;
  -webkit-text-stroke: gray; }

.bannerHome2 {
  background-color: rgba(255, 255, 255, 0.5); }

.botonWeb {
  background-color: #269443;
  border: solid 2px white;
  border-radius: 10px; }
  .botonWeb a {
    color: white; }
  .botonWeb:hover {
    border-color: #ce6d1e;
    transition: 1.5s; }

.containerWpp {
  background-color: rgba(38, 148, 67, 0.3); }

.botonWpp h2 {
  color: white;
  -webkit-text-stroke: 0.2px grey; }

.div-ora {
  background-color: #ce6d1e;
  height: 10px; }

.bannerProdu {
  background-color: black; }

.marcas {
  background-color: white;
  color: #ce6d1e; }

.ofertas-text {
  color: white; }

.botonWeb2 {
  background-color: white;
  border: solid 2px #ce6d1e;
  color: #ce6d1e; }
  .botonWeb2 a {
    color: inherit; }
    .botonWeb2 a:hover {
      color: #ddbd53;
      transition: 1s; }

.productos h2 {
  color: white; }
  .productos h2:hover {
    color: #ce6d1e;
    transition: 1.5s; }

/* SOBRE NOSOTROS */
/* SOBRE NOSOTROS */
.howWeWork .howWeWork-text {
  background-color: #ebebeb; }

.howWeWork h2 {
  color: #ce6d1e; }

.howWeWork .howWeWork-img {
  background-color: rgba(56, 136, 77, 0.2); }

.mision-valor h2 {
  color: #269443; }

.howWeWork-main-text {
  background-color: #269443; }
  .howWeWork-main-text h2 {
    color: white; }
  .howWeWork-main-text p {
    color: white; }

.how-we-work-ft h3 {
  color: #269443; }

.how-we-work-ft p {
  color: gray; }

.div-white {
  background-color: white; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  background-color: #269443;
  color: white; }

.pasoapaso {
  color: white; }

.paso-1 {
  background-color: #ce6d1e; }

.paso-2 {
  background-color: #ecc74b; }
  .paso-2 h3 {
    padding-left: 100px; }

.paso-3 {
  background-color: #e6d111; }

.paso-4 {
  background-color: #a0ce24; }
  .paso-4 h3 {
    padding-left: 100px; }

.paso-5 {
  background-color: #1da01d; }

/*CONTACTO */
/* CONTACTO */
.contactoh1 h1 {
  color: #269443; }

.redes h3 {
  color: #ce6d1e; }

.contacto p {
  color: gray; }

.contacto-datos h3 {
  color: #269443; }

.contacto-datos span {
  color: #ce6d1e; }

.contacto-datos .direccion h4 {
  color: #ce6d1e; }

.contacto-datos .direccion ul li {
  color: gray; }

.trabaja h2 {
  color: #269443; }

.div-green-ver {
  background-color: #269443; }

.busqueda h3 {
  color: #ce6d1e; }

.busqueda ul li {
  color: gray; }

.contacto-work h3 {
  color: #ce6d1e; }

.contacto-work ul li {
  color: gray; }

.contacto-work h4 {
  color: #ce6d1e; }

.contacto-work h5 {
  color: #269443; }

/* HEADER */
header {
  background-color: #269443; }
  header a {
    color: white; }

/* FOOTER */
footer {
  background-color: white;
  color: #269443; }
  footer li {
    font-weight: bold;
    color: #269443; }
  footer a {
    color: #269443;
    font-weight: bold; }
    footer a:hover {
      color: #ce6d1e;
      transition: 1s;
      text-decoration: none; }

.div-green {
  background-color: #269443;
  height: 5px; }

/* BANNER HOME */
.bannerHome h1 {
  color: white;
  -webkit-text-stroke: 2px #ce6d1e; }

.bannerHome p {
  color: #269443;
  font-weight: bold; }

.bannerHome h2 {
  color: white;
  -webkit-text-stroke: gray; }

.bannerHome2 {
  background-color: rgba(255, 255, 255, 0.5); }

.botonWeb {
  background-color: #269443;
  border: solid 2px white;
  border-radius: 10px; }
  .botonWeb a {
    color: white; }
  .botonWeb:hover {
    border-color: #ce6d1e;
    transition: 1.5s; }

.containerWpp {
  background-color: rgba(38, 148, 67, 0.3); }

.botonWpp h2 {
  color: white;
  -webkit-text-stroke: 0.2px grey; }

.div-ora {
  background-color: #ce6d1e;
  height: 10px; }

.bannerProdu {
  background-color: black; }

.marcas {
  background-color: white;
  color: #ce6d1e; }

.ofertas-text {
  color: white; }

.botonWeb2 {
  background-color: white;
  border: solid 2px #ce6d1e;
  color: #ce6d1e; }
  .botonWeb2 a {
    color: inherit; }
    .botonWeb2 a:hover {
      color: #ddbd53;
      transition: 1s; }

.productos h2 {
  color: white; }
  .productos h2:hover {
    color: #ce6d1e;
    transition: 1.5s; }

/* SOBRE NOSOTROS */
/* SOBRE NOSOTROS */
.howWeWork .howWeWork-text {
  background-color: #ebebeb; }

.howWeWork h2 {
  color: #ce6d1e; }

.howWeWork .howWeWork-img {
  background-color: rgba(56, 136, 77, 0.2); }

.mision-valor h2 {
  color: #269443; }

.howWeWork-main-text {
  background-color: #269443; }
  .howWeWork-main-text h2 {
    color: white; }
  .howWeWork-main-text p {
    color: white; }

.how-we-work-ft h3 {
  color: #269443; }

.how-we-work-ft p {
  color: gray; }

.div-white {
  background-color: white; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  background-color: #269443;
  color: white; }

.pasoapaso {
  color: white; }

.paso-1 {
  background-color: #ce6d1e; }

.paso-2 {
  background-color: #ecc74b; }
  .paso-2 h3 {
    padding-left: 100px; }

.paso-3 {
  background-color: #e6d111; }

.paso-4 {
  background-color: #a0ce24; }
  .paso-4 h3 {
    padding-left: 100px; }

.paso-5 {
  background-color: #1da01d; }

/*CONTACTO */
/* CONTACTO */
.contactoh1 h1 {
  color: #269443; }

.redes h3 {
  color: #ce6d1e; }

.contacto p {
  color: gray; }

.contacto-datos h3 {
  color: #269443; }

.contacto-datos span {
  color: #ce6d1e; }

.contacto-datos .direccion h4 {
  color: #ce6d1e; }

.contacto-datos .direccion ul li {
  color: gray; }

.trabaja h2 {
  color: #269443; }

.div-green-ver {
  background-color: #269443; }

.busqueda h3 {
  color: #ce6d1e; }

.busqueda ul li {
  color: gray; }

.contacto-work h3 {
  color: #ce6d1e; }

.contacto-work ul li {
  color: gray; }

.contacto-work h4 {
  color: #ce6d1e; }

.contacto-work h5 {
  color: #269443; }

/* HEADER */
header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold; }

/* FOOTER */
footer h3 {
  font-family: "Source Sans Pro", sans-serif; }

.iframefooter span {
  font-size: 13px; }

.contacto-footer {
  margin-left: -15px !important;
  font-size: 13px; }

/* BANNER HOME */
.bannerHome h1 {
  font-family: 'Bebas Neue', cursive; }

.bannerHome p {
  font-family: 'Roboto', sans-serif; }

.marcas {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold; }

.botonWeb {
  text-align: center; }
  .botonWeb a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center; }

.botonWpp h2 {
  text-align: center; }

.ofertas-text {
  text-align: right; }
  .ofertas-text h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: right; }
  .ofertas-text p {
    font-family: sans-serif;
    font-size: 18px;
    text-align: right; }

.botonWeb2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-align: center; }
  .botonWeb2:hover {
    transform: scale(1.04);
    transition: 1.5s; }
  .botonWeb2 a {
    text-decoration: none; }

.productos {
  font-family: "Bebas Neue", cursive;
  text-decoration: none; }
  .productos:hover {
    text-decoration: none; }
  .productos h2 {
    color: white;
    text-decoration: none; }
    .productos h2:hover {
      color: #ce6d1e;
      transition: 1.5s; }

.electricas {
  text-align: right; }

.iluminacion {
  text-align: right; }

.pintureria {
  text-align: left; }

.jardineria {
  text-align: right; }

.herramientas {
  text-align: left; }

/* SOBRE NOSOTROS */
.howWeWork h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  text-align: center; }

.howWeWork p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: center; }

.mision-valor h2 {
  font-size: 30px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold; }

.mision-valor p {
  font-size: 18px; }

.howWeWork-main-text h2 {
  font-weight: bold;
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif; }

.howWeWork-main-text p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px; }

.how-we-work-ft {
  text-align: center; }
  .how-we-work-ft h3 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 30px; }
  .how-we-work-ft p {
    font-size: 22px; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px; }

.pasoapaso {
  font-family: "Source Sans Pro", sans-serif; }
  .pasoapaso span {
    font-size: 120px;
    font-weight: bold;
    font-family: "Bebas Neue", cursive; }
  .pasoapaso h3 {
    font-size: 60px; }
  .pasoapaso p {
    font-size: 25px; }

/* CONTACTO */
.contactoh1 h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  text-align: center; }

.redes h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  color: #ce6d1e;
  font-weight: bold;
  text-align: left; }

.contacto p {
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.contacto-datos h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold; }

.contacto-datos span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold; }

.contacto-datos .direccion h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold; }

.contacto-datos .direccion ul li {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px; }

.trabaja h2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-size: 40px; }

.busqueda h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  font-weight: bold; }

.busqueda ul li {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px; }

.contacto-work h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: bold; }

.contacto-work ul li {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px; }

.contacto-work h4 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px; }

.contacto-work h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 30px; }

/* HEADER */
header {
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 5;
  align-items: center; }

.navBar {
  padding-top: 15px; }
  .navBar ul {
    justify-content: center; }
    .navBar ul li {
      padding-left: 70px; }

.logoMain {
  padding-left: 60px; }

.redesMain div {
  padding-right: 25px;
  padding-top: 10px; }

/*FOOTER*/
footer {
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 15px;
  justify-content: space-between; }

.divFooter {
  padding-left: 50px; }

/* INDEX */
/* BANNER HOME */
.bannerHome h1 {
  padding-left: 40px;
  padding-top: 40px; }

.bannerHome p {
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 20px; }

.bannerHome2 {
  margin: 0px; }

.botonWeb {
  padding: 30px;
  margin-top: 50px;
  margin-left: 125px;
  margin-bottom: 50px; }

.containerWpp {
  margin-top: 0px;
  margin: 0px; }

.botonWpp h2 {
  padding-top: 100px; }

.marcas h2 {
  padding-left: 30px;
  padding-top: 30px; }

.containerWpp {
  align-self: center;
  justify-content: end;
  padding-top: 80px;
  padding-bottom: 80px; }

.ofertas-text {
  justify-content: end;
  padding-bottom: 40px; }
  .ofertas-text h1 {
    padding-top: 50px;
    padding-right: 5%; }
  .ofertas-text h2 {
    padding-right: 5%; }
  .ofertas-text p {
    padding-top: 30px;
    padding-right: 5%;
    justify-self: end; }

.botonWeb2 {
  padding: 30px;
  justify-self: end;
  max-width: 250px;
  margin-right: 30px;
  border-radius: 10px; }

.containerofertas {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 100px; }
  .containerofertas .botonWpp {
    padding-left: 70px;
    margin-top: 5px; }

.productos {
  padding-bottom: 200px;
  padding-top: 50px; }

.electricas {
  padding-right: 100px; }

.iluminacion {
  padding-right: 100px; }

.pintureria {
  padding-left: 100px; }

.jardineria {
  padding-right: 100px; }

.herramientas {
  padding-left: 100px; }

/* SOBRE NOSOTROS */
.ferminLogoHowWe {
  display: flex;
  justify-content: center;
  padding: 20px 0px; }

.howWeWork {
  margin: 0px 80px;
  overflow-x: hidden; }
  .howWeWork .howWeWork-text {
    padding-left: 50px;
    padding-top: 30px; }
  .howWeWork .howWeWork-img {
    padding: 30px;
    justify-content: center; }

.container-mision {
  padding-top: 40px;
  margin: 0px; }
  .container-mision img {
    margin-top: 0px;
    padding-top: 0px; }

.mision-valor {
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px; }
  .mision-valor h2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px; }
  .mision-valor p {
    padding-left: 20px;
    padding-right: 20px; }

.howWeWork-main-text {
  margin-top: 0px; }
  .howWeWork-main-text h2 {
    padding: 20px; }
  .howWeWork-main-text p {
    padding-left: 20px; }

.howWeWork-main .carousel {
  padding-left: 0px;
  padding-right: 0px; }

.how-we-work-ft {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .how-we-work-ft h3 {
    padding-top: 50px; }
  .how-we-work-ft p {
    margin: auto;
    padding-bottom: 20px; }

.div-white {
  padding-top: 0px;
  margin-top: 100px; }

.icon-howwe {
  padding: 30px; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  padding: 100px;
  margin: 0px; }

.comocomprar-banner iframe {
  margin: 0px;
  padding: 0px; }

.paso {
  padding-bottom: 80px;
  width: 100% !important;
  margin-right: 0px !important;
  height: 100%;
  padding: 50px;
  display: flex; }

.pasoapaso {
  margin-right: 0px !important; }

.div-white1 {
  height: 10px;
  background-color: white; }

/* CONTACTO */
.contactoh1 h1 {
  padding-top: 50px; }

.contactRedes {
  justify-content: center;
  align-items: center; }
  .contactRedes div {
    margin-bottom: 30px; }

.contacto {
  padding-top: 30px; }
  .contacto p {
    padding-bottom: 30px; }

.contacto-datos h3 {
  padding-right: 60px; }

.contacto-datos .div-green {
  margin-top: 40px; }

.contacto-datos span {
  padding-left: 10px; }

.contacto-datos .direccion {
  padding-top: 40px; }
  .contacto-datos .direccion .ubicacion {
    display: block;
    width: 100% !important;
    height: auto !important; }
  .contacto-datos .direccion h4 {
    padding-left: 20px;
    padding-top: 20px; }
  .contacto-datos .direccion ul li {
    padding-left: 20px; }

.trabaja h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px; }

.div-green-ver {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }

.busqueda h3 {
  padding-bottom: 20px; }

.busqueda ul li {
  padding-left: 20px; }

.busqueda img {
  align-self: center; }

.contacto-work {
  padding-left: 20px; }
  .contacto-work h3 {
    padding-bottom: 30px; }
  .contacto-work ul li {
    padding-left: 20px; }
  .contacto-work h4 {
    margin-top: 35px; }
  .contacto-work h5 {
    padding-top: 15px;
    padding-bottom: 30px; }

.flex-marcas {
  align-items: center;
  justify-content: center; }

/* HEADER */
header {
  background-color: #269443; }
  header a {
    color: white; }

/* FOOTER */
footer {
  background-color: white;
  color: #269443; }
  footer li {
    font-weight: bold;
    color: #269443; }
  footer a {
    color: #269443;
    font-weight: bold; }
    footer a:hover {
      color: #ce6d1e;
      transition: 1s;
      text-decoration: none; }

.div-green {
  background-color: #269443;
  height: 5px; }

/* BANNER HOME */
.bannerHome h1 {
  color: white;
  -webkit-text-stroke: 2px #ce6d1e; }

.bannerHome p {
  color: #269443;
  font-weight: bold; }

.bannerHome h2 {
  color: white;
  -webkit-text-stroke: gray; }

.bannerHome2 {
  background-color: rgba(255, 255, 255, 0.5); }

.botonWeb {
  background-color: #269443;
  border: solid 2px white;
  border-radius: 10px; }
  .botonWeb a {
    color: white; }
  .botonWeb:hover {
    border-color: #ce6d1e;
    transition: 1.5s; }

.containerWpp {
  background-color: rgba(38, 148, 67, 0.3); }

.botonWpp h2 {
  color: white;
  -webkit-text-stroke: 0.2px grey; }

.div-ora {
  background-color: #ce6d1e;
  height: 10px; }

.bannerProdu {
  background-color: black; }

.marcas {
  background-color: white;
  color: #ce6d1e; }

.ofertas-text {
  color: white; }

.botonWeb2 {
  background-color: white;
  border: solid 2px #ce6d1e;
  color: #ce6d1e; }
  .botonWeb2 a {
    color: inherit; }
    .botonWeb2 a:hover {
      color: #ddbd53;
      transition: 1s; }

.productos h2 {
  color: white; }
  .productos h2:hover {
    color: #ce6d1e;
    transition: 1.5s; }

/* SOBRE NOSOTROS */
/* SOBRE NOSOTROS */
.howWeWork .howWeWork-text {
  background-color: #ebebeb; }

.howWeWork h2 {
  color: #ce6d1e; }

.howWeWork .howWeWork-img {
  background-color: rgba(56, 136, 77, 0.2); }

.mision-valor h2 {
  color: #269443; }

.howWeWork-main-text {
  background-color: #269443; }
  .howWeWork-main-text h2 {
    color: white; }
  .howWeWork-main-text p {
    color: white; }

.how-we-work-ft h3 {
  color: #269443; }

.how-we-work-ft p {
  color: gray; }

.div-white {
  background-color: white; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  background-color: #269443;
  color: white; }

.pasoapaso {
  color: white; }

.paso-1 {
  background-color: #ce6d1e; }

.paso-2 {
  background-color: #ecc74b; }
  .paso-2 h3 {
    padding-left: 100px; }

.paso-3 {
  background-color: #e6d111; }

.paso-4 {
  background-color: #a0ce24; }
  .paso-4 h3 {
    padding-left: 100px; }

.paso-5 {
  background-color: #1da01d; }

/*CONTACTO */
/* CONTACTO */
.contactoh1 h1 {
  color: #269443; }

.redes h3 {
  color: #ce6d1e; }

.contacto p {
  color: gray; }

.contacto-datos h3 {
  color: #269443; }

.contacto-datos span {
  color: #ce6d1e; }

.contacto-datos .direccion h4 {
  color: #ce6d1e; }

.contacto-datos .direccion ul li {
  color: gray; }

.trabaja h2 {
  color: #269443; }

.div-green-ver {
  background-color: #269443; }

.busqueda h3 {
  color: #ce6d1e; }

.busqueda ul li {
  color: gray; }

.contacto-work h3 {
  color: #ce6d1e; }

.contacto-work ul li {
  color: gray; }

.contacto-work h4 {
  color: #ce6d1e; }

.contacto-work h5 {
  color: #269443; }

/* HEADER */
header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold; }

/* FOOTER */
footer h3 {
  font-family: "Source Sans Pro", sans-serif; }

.iframefooter span {
  font-size: 13px; }

.contacto-footer {
  margin-left: -15px !important;
  font-size: 13px; }

/* BANNER HOME */
.bannerHome h1 {
  font-family: 'Bebas Neue', cursive; }

.bannerHome p {
  font-family: 'Roboto', sans-serif; }

.marcas {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold; }

.botonWeb {
  text-align: center; }
  .botonWeb a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center; }

.botonWpp h2 {
  text-align: center; }

.ofertas-text {
  text-align: right; }
  .ofertas-text h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: right; }
  .ofertas-text p {
    font-family: sans-serif;
    font-size: 18px;
    text-align: right; }

.botonWeb2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-align: center; }
  .botonWeb2:hover {
    transform: scale(1.04);
    transition: 1.5s; }
  .botonWeb2 a {
    text-decoration: none; }

.productos {
  font-family: "Bebas Neue", cursive;
  text-decoration: none; }
  .productos:hover {
    text-decoration: none; }
  .productos h2 {
    color: white;
    text-decoration: none; }
    .productos h2:hover {
      color: #ce6d1e;
      transition: 1.5s; }

.electricas {
  text-align: right; }

.iluminacion {
  text-align: right; }

.pintureria {
  text-align: left; }

.jardineria {
  text-align: right; }

.herramientas {
  text-align: left; }

/* SOBRE NOSOTROS */
.howWeWork h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  text-align: center; }

.howWeWork p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: center; }

.mision-valor h2 {
  font-size: 30px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold; }

.mision-valor p {
  font-size: 18px; }

.howWeWork-main-text h2 {
  font-weight: bold;
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif; }

.howWeWork-main-text p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px; }

.how-we-work-ft {
  text-align: center; }
  .how-we-work-ft h3 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 30px; }
  .how-we-work-ft p {
    font-size: 22px; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px; }

.pasoapaso {
  font-family: "Source Sans Pro", sans-serif; }
  .pasoapaso span {
    font-size: 120px;
    font-weight: bold;
    font-family: "Bebas Neue", cursive; }
  .pasoapaso h3 {
    font-size: 60px; }
  .pasoapaso p {
    font-size: 25px; }

/* CONTACTO */
.contactoh1 h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  text-align: center; }

.redes h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  color: #ce6d1e;
  font-weight: bold;
  text-align: left; }

.contacto p {
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.contacto-datos h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold; }

.contacto-datos span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold; }

.contacto-datos .direccion h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold; }

.contacto-datos .direccion ul li {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px; }

.trabaja h2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-size: 40px; }

.busqueda h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  font-weight: bold; }

.busqueda ul li {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px; }

.contacto-work h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: bold; }

.contacto-work ul li {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px; }

.contacto-work h4 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px; }

.contacto-work h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 30px; }

/* HEADER */
header {
  background-color: #269443; }
  header a {
    color: white; }

/* FOOTER */
footer {
  background-color: white;
  color: #269443; }
  footer li {
    font-weight: bold;
    color: #269443; }
  footer a {
    color: #269443;
    font-weight: bold; }
    footer a:hover {
      color: #ce6d1e;
      transition: 1s;
      text-decoration: none; }

.div-green {
  background-color: #269443;
  height: 5px; }

/* BANNER HOME */
.bannerHome h1 {
  color: white;
  -webkit-text-stroke: 2px #ce6d1e; }

.bannerHome p {
  color: #269443;
  font-weight: bold; }

.bannerHome h2 {
  color: white;
  -webkit-text-stroke: gray; }

.bannerHome2 {
  background-color: rgba(255, 255, 255, 0.5); }

.botonWeb {
  background-color: #269443;
  border: solid 2px white;
  border-radius: 10px; }
  .botonWeb a {
    color: white; }
  .botonWeb:hover {
    border-color: #ce6d1e;
    transition: 1.5s; }

.containerWpp {
  background-color: rgba(38, 148, 67, 0.3); }

.botonWpp h2 {
  color: white;
  -webkit-text-stroke: 0.2px grey; }

.div-ora {
  background-color: #ce6d1e;
  height: 10px; }

.bannerProdu {
  background-color: black; }

.marcas {
  background-color: white;
  color: #ce6d1e; }

.ofertas-text {
  color: white; }

.botonWeb2 {
  background-color: white;
  border: solid 2px #ce6d1e;
  color: #ce6d1e; }
  .botonWeb2 a {
    color: inherit; }
    .botonWeb2 a:hover {
      color: #ddbd53;
      transition: 1s; }

.productos h2 {
  color: white; }
  .productos h2:hover {
    color: #ce6d1e;
    transition: 1.5s; }

/* SOBRE NOSOTROS */
/* SOBRE NOSOTROS */
.howWeWork .howWeWork-text {
  background-color: #ebebeb; }

.howWeWork h2 {
  color: #ce6d1e; }

.howWeWork .howWeWork-img {
  background-color: rgba(56, 136, 77, 0.2); }

.mision-valor h2 {
  color: #269443; }

.howWeWork-main-text {
  background-color: #269443; }
  .howWeWork-main-text h2 {
    color: white; }
  .howWeWork-main-text p {
    color: white; }

.how-we-work-ft h3 {
  color: #269443; }

.how-we-work-ft p {
  color: gray; }

.div-white {
  background-color: white; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  background-color: #269443;
  color: white; }

.pasoapaso {
  color: white; }

.paso-1 {
  background-color: #ce6d1e; }

.paso-2 {
  background-color: #ecc74b; }
  .paso-2 h3 {
    padding-left: 100px; }

.paso-3 {
  background-color: #e6d111; }

.paso-4 {
  background-color: #a0ce24; }
  .paso-4 h3 {
    padding-left: 100px; }

.paso-5 {
  background-color: #1da01d; }

/*CONTACTO */
/* CONTACTO */
.contactoh1 h1 {
  color: #269443; }

.redes h3 {
  color: #ce6d1e; }

.contacto p {
  color: gray; }

.contacto-datos h3 {
  color: #269443; }

.contacto-datos span {
  color: #ce6d1e; }

.contacto-datos .direccion h4 {
  color: #ce6d1e; }

.contacto-datos .direccion ul li {
  color: gray; }

.trabaja h2 {
  color: #269443; }

.div-green-ver {
  background-color: #269443; }

.busqueda h3 {
  color: #ce6d1e; }

.busqueda ul li {
  color: gray; }

.contacto-work h3 {
  color: #ce6d1e; }

.contacto-work ul li {
  color: gray; }

.contacto-work h4 {
  color: #ce6d1e; }

.contacto-work h5 {
  color: #269443; }

/* HEADER */
header {
  background-color: #269443; }
  header a {
    color: white; }

/* FOOTER */
footer {
  background-color: white;
  color: #269443; }
  footer li {
    font-weight: bold;
    color: #269443; }
  footer a {
    color: #269443;
    font-weight: bold; }
    footer a:hover {
      color: #ce6d1e;
      transition: 1s;
      text-decoration: none; }

.div-green {
  background-color: #269443;
  height: 5px; }

/* BANNER HOME */
.bannerHome h1 {
  color: white;
  -webkit-text-stroke: 2px #ce6d1e; }

.bannerHome p {
  color: #269443;
  font-weight: bold; }

.bannerHome h2 {
  color: white;
  -webkit-text-stroke: gray; }

.bannerHome2 {
  background-color: rgba(255, 255, 255, 0.5); }

.botonWeb {
  background-color: #269443;
  border: solid 2px white;
  border-radius: 10px; }
  .botonWeb a {
    color: white; }
  .botonWeb:hover {
    border-color: #ce6d1e;
    transition: 1.5s; }

.containerWpp {
  background-color: rgba(38, 148, 67, 0.3); }

.botonWpp h2 {
  color: white;
  -webkit-text-stroke: 0.2px grey; }

.div-ora {
  background-color: #ce6d1e;
  height: 10px; }

.bannerProdu {
  background-color: black; }

.marcas {
  background-color: white;
  color: #ce6d1e; }

.ofertas-text {
  color: white; }

.botonWeb2 {
  background-color: white;
  border: solid 2px #ce6d1e;
  color: #ce6d1e; }
  .botonWeb2 a {
    color: inherit; }
    .botonWeb2 a:hover {
      color: #ddbd53;
      transition: 1s; }

.productos h2 {
  color: white; }
  .productos h2:hover {
    color: #ce6d1e;
    transition: 1.5s; }

/* SOBRE NOSOTROS */
/* SOBRE NOSOTROS */
.howWeWork .howWeWork-text {
  background-color: #ebebeb; }

.howWeWork h2 {
  color: #ce6d1e; }

.howWeWork .howWeWork-img {
  background-color: rgba(56, 136, 77, 0.2); }

.mision-valor h2 {
  color: #269443; }

.howWeWork-main-text {
  background-color: #269443; }
  .howWeWork-main-text h2 {
    color: white; }
  .howWeWork-main-text p {
    color: white; }

.how-we-work-ft h3 {
  color: #269443; }

.how-we-work-ft p {
  color: gray; }

.div-white {
  background-color: white; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  background-color: #269443;
  color: white; }

.pasoapaso {
  color: white; }

.paso-1 {
  background-color: #ce6d1e; }

.paso-2 {
  background-color: #ecc74b; }
  .paso-2 h3 {
    padding-left: 100px; }

.paso-3 {
  background-color: #e6d111; }

.paso-4 {
  background-color: #a0ce24; }
  .paso-4 h3 {
    padding-left: 100px; }

.paso-5 {
  background-color: #1da01d; }

/*CONTACTO */
/* CONTACTO */
.contactoh1 h1 {
  color: #269443; }

.redes h3 {
  color: #ce6d1e; }

.contacto p {
  color: gray; }

.contacto-datos h3 {
  color: #269443; }

.contacto-datos span {
  color: #ce6d1e; }

.contacto-datos .direccion h4 {
  color: #ce6d1e; }

.contacto-datos .direccion ul li {
  color: gray; }

.trabaja h2 {
  color: #269443; }

.div-green-ver {
  background-color: #269443; }

.busqueda h3 {
  color: #ce6d1e; }

.busqueda ul li {
  color: gray; }

.contacto-work h3 {
  color: #ce6d1e; }

.contacto-work ul li {
  color: gray; }

.contacto-work h4 {
  color: #ce6d1e; }

.contacto-work h5 {
  color: #269443; }

/* HEADER */
header {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold; }

/* FOOTER */
footer h3 {
  font-family: "Source Sans Pro", sans-serif; }

.iframefooter span {
  font-size: 13px; }

.contacto-footer {
  margin-left: -15px !important;
  font-size: 13px; }

/* BANNER HOME */
.bannerHome h1 {
  font-family: 'Bebas Neue', cursive; }

.bannerHome p {
  font-family: 'Roboto', sans-serif; }

.marcas {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold; }

.botonWeb {
  text-align: center; }
  .botonWeb a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center; }

.botonWpp h2 {
  text-align: center; }

.ofertas-text {
  text-align: right; }
  .ofertas-text h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: right; }
  .ofertas-text p {
    font-family: sans-serif;
    font-size: 18px;
    text-align: right; }

.botonWeb2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-align: center; }
  .botonWeb2:hover {
    transform: scale(1.04);
    transition: 1.5s; }
  .botonWeb2 a {
    text-decoration: none; }

.productos {
  font-family: "Bebas Neue", cursive;
  text-decoration: none; }
  .productos:hover {
    text-decoration: none; }
  .productos h2 {
    color: white;
    text-decoration: none; }
    .productos h2:hover {
      color: #ce6d1e;
      transition: 1.5s; }

.electricas {
  text-align: right; }

.iluminacion {
  text-align: right; }

.pintureria {
  text-align: left; }

.jardineria {
  text-align: right; }

.herramientas {
  text-align: left; }

/* SOBRE NOSOTROS */
.howWeWork h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  text-align: center; }

.howWeWork p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: center; }

.mision-valor h2 {
  font-size: 30px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold; }

.mision-valor p {
  font-size: 18px; }

.howWeWork-main-text h2 {
  font-weight: bold;
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif; }

.howWeWork-main-text p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px; }

.how-we-work-ft {
  text-align: center; }
  .how-we-work-ft h3 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 30px; }
  .how-we-work-ft p {
    font-size: 22px; }

/* COMO COMPRAR */
.comocomprar-banner h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px; }

.pasoapaso {
  font-family: "Source Sans Pro", sans-serif; }
  .pasoapaso span {
    font-size: 120px;
    font-weight: bold;
    font-family: "Bebas Neue", cursive; }
  .pasoapaso h3 {
    font-size: 60px; }
  .pasoapaso p {
    font-size: 25px; }

/* CONTACTO */
.contactoh1 h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  text-align: center; }

.redes h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  color: #ce6d1e;
  font-weight: bold;
  text-align: left; }

.contacto p {
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.contacto-datos h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold; }

.contacto-datos span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold; }

.contacto-datos .direccion h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold; }

.contacto-datos .direccion ul li {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px; }

.trabaja h2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-size: 40px; }

.busqueda h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  font-weight: bold; }

.busqueda ul li {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px; }

.contacto-work h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: bold; }

.contacto-work ul li {
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px; }

.contacto-work h4 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 30px; }

.contacto-work h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 30px; }

@media only screen and (min-width: 1200px) {
  .menu-mobile {
    display: none; }
  .footer-mobile {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* HEADER */
  /* FOOTER */
  /* INDEX */
  /* SOBRE NOSOTROS */
  /* COMO COMPRAR */
  /* CONTACTO */ }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* HEADER */
  .menu-desktop {
    display: none; }
  #logo-mobile {
    width: 130px;
    height: auto;
    padding-left: 40px; }
  .menu-mobile .boton-menu-mobile .bg-dark {
    background-color: #269443 !important; }
  .menu-mobile .boton-menu-mobile .navBar li {
    color: white;
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 22px;
    list-style: none;
    padding-left: 0px !important; }
    .menu-mobile .boton-menu-mobile .navBar li a {
      color: white;
      text-decoration: none; }
  .menu-mobile .boton-menu-mobile .navBar .div-thin-white {
    height: 2px;
    background-color: white;
    margin: 20px 0px;
    width: 100%; }
  /* FOOTER */
  footer {
    padding: 0px;
    padding-top: 20px;
    text-align: center;
    margin-left: 0px; }
    footer .redesMain {
      padding-right: 15px;
      padding-bottom: 20px; }
      footer .redesMain div {
        padding: 10px; }
    footer iframe {
      margin-bottom: 30px !important; }
    footer h3 {
      font-weight: bold; }
  .divFooter {
    padding-left: 15px; }
  .fermin-footer {
    margin: 20px 0px;
    margin-bottom: 30px; }
  /* INDEX */
  .bannerHome h1 {
    font-size: 50px;
    padding-top: 15px;
    padding-left: 10px; }
  .bannerHome .containerWpp {
    padding: 25px; }
    .bannerHome .containerWpp h2 {
      font-size: 25px; }
    .bannerHome .containerWpp .botonWpp {
      margin-left: 130px; }
      .bannerHome .containerWpp .botonWpp img {
        height: 50px; }
  .bannerHome p {
    font-size: 30px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px; }
  .bannerHome .botonWeb {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px; }
  .electricas {
    padding-right: 30px; }
  .iluminacion {
    padding-right: 30px; }
  .pintureria {
    padding-left: 30px; }
  .jardineria {
    padding-right: 30px; }
  .herramientas {
    text-align: left;
    padding-left: 30px; }
  .containerofertas {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    justify-items: center !important;
    padding-bottom: 30px; }
    .containerofertas .botonWpp {
      display: none; }
    .containerofertas .botonWeb2 {
      display: block;
      margin: auto; }
  .marcas {
    padding-right: 0px;
    margin-right: 0px;
    width: 100%; }
    .marcas h2 {
      font-size: 35px; }
    .marcas img {
      display: inline-block;
      height: auto;
      width: 100px; }
  /* SOBRE NOSOTROS */
  .ferminLogoHowWe {
    height: 120px; }
  .howWeWork {
    margin: 0px; }
    .howWeWork .howWeWork-text {
      padding-left: 15px; }
  .howWeWork-main-text p {
    width: 95%; }
  .how-we-work-ft p {
    font-size: 18px;
    width: 95%; }
  /* COMO COMPRAR */
  .comocomprar-banner h1 {
    font-size: 40px;
    text-align: center;
    padding: 30px; }
  .comocomprar-banner iframe {
    height: 400px;
    width: 100%; }
  .paso {
    display: flex;
    flex-direction: column;
    padding: 15px; }
  .pasoapaso {
    width: 100%; }
    .pasoapaso span {
      font-size: 50px;
      text-align: center; }
    .pasoapaso h3 {
      font-size: 40px;
      padding-bottom: 35px;
      text-align: center;
      width: 100%; }
    .pasoapaso p {
      text-align: center; }
  .paso-2 h3 {
    padding-left: 0px; }
  .paso-2 #titulo {
    order: 1; }
  .paso-2 #tuto {
    order: 2; }
  .paso-4 h3 {
    padding-left: 0px; }
  .paso-4 #titulo {
    order: 1; }
  .paso-4 #tuto {
    order: 2; }
  /* CONTACTO */
  .contactoh1 h1 {
    font-size: 55px; }
  .contactRedes div {
    padding-left: 15px; }
  .redes h3 {
    display: none; }
  .contacto-datos p {
    display: none; }
  .contacto-datos h3 {
    font-size: 22px;
    padding-right: 0px; }
  .contacto-datos .telefonos {
    display: flex;
    flex-direction: column !important;
    text-align: center;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin: auto; }
  #ubicacion-contacto {
    display: none !important; }
  .contacto-datos span {
    text-align: center;
    padding-top: 20px; }
  .contacto-datos {
    text-align: center; }
    .contacto-datos .direccion h4 {
      text-align: center;
      padding-left: 0px; }
    .contacto-datos h4 {
      text-align: center;
      margin: auto; }
  .trabaja h2 {
    padding-left: 10px; }
  .busqueda h3 {
    text-align: center; }
  .busqueda li {
    text-align: center;
    padding-left: 0px; }
  .busqueda ul li {
    padding-left: 0px; }
  .busqueda img {
    height: 100px;
    display: block;
    margin: auto; }
  .contacto-work h5 {
    font-size: 25px; } }
